body{
	margin:0px;
	padding:0px;
}

.upper_section{
	background:url("background.jpg") no-repeat;
	background-size:cover;
	height:100vh;
	position:relative;
}

.upper_section .div1{
	color:white;
    position:absolute;
    top:5%;
    left:10%;
    width:60%;
}
.div1 h1{
	font-size:2.5em; 

}
.form input{
	width:70%;
	border-radius:1rem;
	border:none;
	padding:.6rem;
	outline:none;
}
.form button{
	margin-top:1rem;
	text-align:center;
	border-radius:1rem;
	background-color:#00bab1;
	border:none;
	padding:5px;
	outline:none;
	width:100px;
	color:white;
}
.lower_section{

	margin-top:.5rem;
}
.lower_section .div2
{
	float:left;
	width:32%;
	margin-left:1rem;
}
.lower_section .div3{
	float:left;
	width:32%;
	margin-left:.1rem;
	

}
.lower_section .div4{
	float:left;
	width:32%;
	margin-left:.1rem;
	
}

.lower_section img{
	width:90%;
	height:50%;   
    transition:opacity:.6s ease-i-out;
}

.lower_section img:hover{
	opacity: .8;

}
.footer{
	clear:both;
	height:60%;
	background-color:#0B173D;
}

.upper_section .menu ul
{
	color:white;
	list-style-type:none;
	margin-left:70%;
}
ul li{
	display:inline-block;
	
	margin-right:3%;
	color:white;
}
ul li a{
	color:white;
	text-decoration:none;
	display:block;
	padding:5px;
	display:block;
	font-size:17px;
	font-weight:bold;

}
 ul li a:hover{
	background-color:white;
	color:black;
	padding:2px;
	border-radius:5px;

}
.footer_section{
	clear:both;
	background-color: #A07727;
	height:1rem;
	position:relative;

}
 .footer .footer_div{
 	float :left;
 	width:20%;
 	margin-left:100px;	
 	color:white;
}


.footer_div h3
{	
	color:#A07727;
	
}
